/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  height: 100%;
}


$color-primary: #EE7526;
$color-primary-opacity: rgba(238, 117, 38, 0.75);
$color-secondary: #E4696D;
$color-secondary-opacity: rgba(228, 105, 109, 0.75);
$color-ternary: #2B2965;
$color-ternary-opacity: rgba(43, 41, 101, 0.75);


/* App styles */

.menu-shadow{
  box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.15), 0 4px 12px -2px rgba(0, 0, 0, 0.12);
}

.search-bar-shadow{
  color: rgb(59 130 246);
  box-shadow: 0px 3px 20px #00000029;
}

.presentation {
  background: transparent linear-gradient(180deg, rgba(255, 32, 83, 0.45) 0%, rgba(94, 29, 187, 0.45) 25%, rgba(147, 100, 237, 0.45) 40%, rgba(255, 119, 30, 0.45) 66%, rgba(255, 183, 0, 0.45) 83%, rgba(226, 32, 158, 0.45) 100%) 0% 0% no-repeat padding-box;
}

.search-bar {
  scroll-margin-top: 200px;
}

.gem-category{
  background: transparent linear-gradient(103deg, #FF2053 0%, #5E1DBB 28%, #9364ED 44%, #F57532 61%, #FF771E 66%, #FFB700 78%, #E2209E 100%) 0% 0% no-repeat padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Date Range Picker */

/* -- CALENDAR -- */

.react-calendar {
  width: 450px;
  margin-top: 10px;
  background: white;
  border: 1px solid $color-secondary;
  border-radius: 20px;
  z-index: 100;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  color: black;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  background: $color-secondary;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(255, 255, 255, 0.33);
  color: white;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: $color-primary-opacity;
  color: white;
}

.react-calendar__tile--now {
  background: $color-secondary-opacity;
  color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: $color-secondary-opacity;
}

.react-calendar__tile--hasActive {
  background: $color-primary;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: $color-primary;
}

.react-calendar__tile--active {
  background: $color-primary-opacity;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: $color-primary;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: $color-primary-opacity;
  color: white;
}

.react-calendar__tile--rangeStart, .react-calendar__tile--rangeEnd{
  background: $color-primary;
}

/* -- RANGE PRICKER -- */

.react-daterange-picker {
  display: inline-flex;
  position: relative;
}

.react-daterange-picker__calendar{
  top: 0 !important;
}

.react-daterange-picker,
.react-daterange-picker *,
.react-daterange-picker *:before,
.react-daterange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-daterange-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-daterange-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  border: thin solid gray;
  visibility: hidden;
}

.react-daterange-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  height: 100%;
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}

.react-daterange-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-daterange-picker__inputGroup__divider,
.react-daterange-picker__inputGroup__leadingZero {
  display: inline-block;
}

.react-daterange-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-daterange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-daterange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-daterange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-daterange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-daterange-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}

.react-daterange-picker__button:enabled {
  cursor: pointer;
}

.react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,
.react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
  stroke: #0078d7;
}

.react-daterange-picker__button:disabled .react-daterange-picker__button__icon {
  stroke: #6d6d6d;
}

.react-daterange-picker__button svg {
  display: inherit;
}

.react-daterange-picker__calendar {
  width: 350px;
  max-width: 100vw;
  z-index: 1;
}

.react-daterange-picker__calendar--closed {
  display: none;
}

.react-daterange-picker__calendar .react-calendar {
  border-width: thin;
}
