@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  height: 100%;
}

.menu-shadow{
  box-shadow: 0 8px 24px -4px rgba(0, 0, 0, 0.15), 0 4px 12px -2px rgba(0, 0, 0, 0.12);
}

.presentation{
  background: transparent linear-gradient(180deg, #FF2053 0%, #5E1DBB 25%, #9364ED 40%, #FF771E 66%, #FFB700 83%, #E2209E 100%) 0% 0% no-repeat padding-box;
  opacity: 0.45;
}